@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box ;
    
}

body {
    font-family:'poppins';

    background-color: #f1eeee;
opacity: 0.8;
background-image:  radial-gradient(#c9b2c6 0.5px, transparent 0.5px), radial-gradient(#c9b2c6 0.5px, #f1eeee 0.5px);
background-size: 20px 20px;
background-position: 0 0,10px 10px;
display: flex;
min-height: 100vh;
}
.form{
    background-color: #ffff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4, 5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0,0 , 0
    ue, 30%);
    text-align: center;
}
.form-title{
    font: size 2rem; 
    margin-bottom: .5em;
}
.form-paragraph{
    font-weight: 300;
}
.form-link{
    font-weight: 400;
    color: rgb(26, 25, 25);
}
.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}
.form-group{
    position: relative;
    --color:#5757577e;

}
.form-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom:1px solid var(--color) ;
    font-family: 'poppins';
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
transform: translateY(-12px) scale(.7);
transform-origin: left top;
color: black;
}
.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform:translateY(10px);
    transition: transform .5s, color .3s;
}
.form-submit{
    background: #706c6c;
    color: white;
    font-family: 'poppins';
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;

}
.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: beige;
    transform: scale(0);
    transform: left bottom;
    transition: transform .4s;


}
.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line{
    transform: scale(1);
}
@media (max-width:425px){
  
    .form-title{
        font-size: 1.8rem;
    }
}